[Unit]
Description=Kubernetes Opex Analytics Multi Clusters
ConditionPathExists=/opt/koamc/bin/kube-opex-analytics-mc
After=network.target
After=docker.target

[Service]
Type=simple
User=koamc
Group=koamc
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/tmp/
ExecStart=/opt/koamc/bin/kube-opex-analytics-mc
EnvironmentFile=/opt/koamc/etc/kube-opex-analytics-mc.service.env
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/kube-opex-analytics-mc
ExecStartPre=/bin/chown syslog:adm /var/log/kube-opex-analytics-mc
ExecStartPre=/bin/chmod 755 /var/log/kube-opex-analytics-mc
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kube-opex-analytics-mc

[Install]
WantedBy=multi-user.target