[Unit]
Description=Krossboard Data Processor - Multi-cluster Kubernetes usage analytics tool
ConditionPathExists=/opt/krossboard/bin/krossboard-data-processor
After=network.target
After=docker.target

[Service]
Type=simple
User=krossboard
Group=krossboard
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/tmp/
EnvironmentFile=/opt/krossboard/etc/krossboard.env
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/krossboard
ExecStartPre=/bin/chown syslog:adm /var/log/krossboard
ExecStartPre=/bin/chmod 755 /var/log/krossboard
ExecStartPre=/usr/bin/docker pull ${KROSSBOARD_KOAINSTANCE_IMAGE}
ExecStartPre=/bin/sleep 2
ExecStart=/opt/krossboard/bin/krossboard-data-processor
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=krossboard-data-processor

[Install]
WantedBy=multi-user.target