[Unit]
Description=Krossboard UI - Multi-cluster Kubernetes usage analytics tool
ConditionPathExists=/opt/krossboard/etc/krossboard.env
After=network.target
After=docker.target

[Service]
Type=simple
User=krossboard
Group=krossboard
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/tmp/
EnvironmentFile=/opt/krossboard/etc/krossboard.env
[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull ${KROSSBOARD_UI_IMAGE}
ExecStartPre=-/usr/bin/docker kill krossboard-ui
ExecStartPre=-/usr/bin/docker rm krossboard-ui
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/docker run -d \
    --name krossboard-ui \
    --net host \
    -v ${KROSSBOARD_ROOT_DIR}/etc/Caddyfile:/etc/caddy/Caddyfile \
    -v ${KROSSBOARD_ROOT_DIR}/etc/.caddy:/root/.caddy \
    ${KROSSBOARD_UI_IMAGE}
 
[Install]
WantedBy=multi-user.target