[Unit]
Description=Multi-cluster Kubernetes usage analytics tool (Web UI)
ConditionPathExists=/opt/krossboard/etc/krossboard-data-processor.env
After=network.target
After=docker.target

[Service]
Type=simple
User=krossboard
Group=krossboard
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/tmp/
EnvironmentFile=/opt/krossboard/etc/krossboard-data-processor.env
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill krossboard-webui
ExecStartPre=-/usr/bin/docker rm krossboard-webui
ExecStartPre=-/usr/bin/docker login --username ${KROSSBOARD_REGISTRY_USERNAME} --password ${KROSSBOARD_REGISTRY_PASSWORD}
ExecStartPre=-/usr/bin/docker pull ${KROSSBOARD_WEBUI_IMAGE}
ExecStart=/usr/bin/docker run -d \
    --name krossboard-webui \
    -p 80:2015 \
    -p 443:2015 \
    -v ${KROSSBOARD_ROOT_DIR}/etc/.caddy:/root/.caddy \
    ${KROSSBOARD_WEBUI_IMAGE}
 
[Install]
WantedBy=multi-user.target