[Unit]
Description=Multi-cluster Kubernetes usage analytics tool (Cluster Manager)
ConditionPathExists=/opt/koamc/bin/koamc-cluster-manager
After=network.target
After=docker.target

[Service]
Type=simple
User=koamc
Group=koamc
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/tmp/
ExecStart=/opt/koamc/bin/koamc-cluster-manager
EnvironmentFile=/opt/koamc/etc/koamc-cluster-manager.env
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/koamc
ExecStartPre=/bin/chown syslog:adm /var/log/koamc
ExecStartPre=/bin/chmod 755 /var/log/koamc
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=koamc-cluster-manager

[Install]
WantedBy=multi-user.target